<style>
    .red {
        border: 2px solid red;
    }

    .green {
        border: 2px solid green;
    }
</style>

<div id="root">
    {{kittyfyName}}
    <input v-model="newCat" v-on:keyup.enter="addCat">
    <button v-on:click="addCat">
        Adicionar [+]
    </button>

    <ul>
        <li v-for="cat in cats">
            {{ cat.name }}
        </li>
    </ul>
    <cat-list :cats="cats" />

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

<script>
    Vue.component('cat-list', {
        props: ['cats'],
        template:
            '<ul><li v-for="cat in cats"> {{cat.name}} </li></ul>'
    })

    app = new Vue({
        el: '#root',
        component: [
            'cat-list'
        ],
        data: {
            email: '',
            cats: [
                { name: 'kitkat' },
                { name: 'fish' },
                { name: 'galego' }
            ],
            newCat: ''
        },

        methods: {
            addCat: function () {
                this.cats.push({ name: this.newCat })
                this.newCat = ''
            }

        },
        computed: {
            kittyfyName: function () {
                if (this.newCat.length > 1) {
                    return this.newCat + 'y';
                }
            }
        }
    })

</script>